<div class="col-12 row m-2">
  <h3 class="font-weight-bold">Meus repositórios</h3>
</div>
<div class="container">
  <div class="col-12 row">
      <div class="col-12 col-sm-6 col-lg-4 mb-4" *ngFor="let repo of repositories">
          <div  class="card shadow-lg rounded">
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><i class="bi bi-github"> </i> {{ repo.name }}</h5>
                <p class="card-text">
                  <span class="" *ngIf="!repo.private"><i style="color: green;" class="bi bi-check2-circle"></i> Público</span><br>
                  <span><i class="bi bi-eye"></i> {{ repo.watchers }}</span><br>
                  <span><i class="bi bi-star"></i> {{ repo.stargazers_count }} </span><br>
                  <span >
                    Git clone 
                    <button 
                    class="btn btn-outline-dark btn-sm"
                    type="button" placement="top"
                    popoverTitle="Copiar comando"
                    ngbPopover="git clone {{ repo.clone_url }}"
                    [openDelay]="100" [closeDelay]="500"
                    triggers="mouseenter:mouseleave"
                    (click)="copyTextClone(repo.clone_url)">Copiar</button></span>
                </p>
                <a [href]="repo.html_url" target="_blank" class="card-link">Repositório <i class="bi bi-box-arrow-up-right"></i></a>
              </div>
            </div>
      </div>
  </div>
</div>