<div class="col-12 row">
  <h2 class="title">Repositórios Github</h2>
</div>
<div class="container">
  <div class="col-12 row">
    <div class="col-12 col-sm-4 col-lg-3 mb-4" *ngFor="let repo of repositories">
      <mat-card>
        <mat-card-content>
          {{ repo.name }}
          <p class="">
            <span class="" *ngIf="!repo.private"><i style="color: green;" class="bi bi-check2-circle"></i> Público</span><br>
            <span><i class="bi bi-eye"></i> {{ repo.watchers }}</span><br>
            <span><i class="bi bi-star"></i> {{ repo.stargazers_count }} </span><br>
            <span >
              Git clone
              <button 
                mat-stroked-button
                (click)="copyTextClone(repo.clone_url)">Copiar</button>
            </span>
          </p>
          <a [href]="repo.html_url" target="_blank" class="card-link">Repositório <i class="bi bi-box-arrow-up-right"></i></a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
