<div class="d-flex justify-content-center panel-item">
    <div class="text-center" style="width: 80%;">
        <a [routerLink]="path" style="width: 80%;">
            <img class="mb-3 img-zoom" [src]="getSrcImage()" [alt]="imageAlt">
        </a>
        <h4 class="mat-display-1">{{ title }} </h4>
        <span
        style="background-color: #6C63FF !important; color: white !important;" 
        *ngIf="path === '#'"
        class="badge rounded-pill bg-primary d-inline">Em breve
        </span>
        <div class="description">{{ description }}</div>
    </div>
</div>