<mat-drawer-container class="drawer-container col-xl-12 col-md-12 col-sm-12" autosize>
  
  <mat-drawer #drawer class="col-xl-3 col-md-6 col-sm-9" mode="side" position="end" opened>
    <app-meus-commits></app-meus-commits>
  </mat-drawer>


  <mat-drawer-content>
    <div class="drawer-content">
      <div class="meus-commits">
        <button color="warn" mat-mini-fab (click)="drawer.toggle()">
          <mat-icon>code</mat-icon>
        </button>
      </div>
      
      
    </div>
  </mat-drawer-content>

</mat-drawer-container>