<div class="container mt-2">
    <div class="">
        <h1 class="mat-title">abc</h1>
    </div>
    <div class="">
        <ul class="timeline">
            <li class="commit">
                corrigindo importação
                <a style="display: inline;" href="#">committed on </a>
                <a style="display: inline;" href="#" style="text-decoration: none;" class="mat-body-1">repository pedrozulian/pedrozulian.github.io</a>
            </li>
        </ul>
    </div>

    <div class="">
        <span class="mt-1 mb-1">
            <div class="mat-body-2 commit">

            </div>
        </span>
    </div>
</div>