<div class="container text-center home-profile">
  <img src="../../../assets/profile.png" class="rounded-circle mb-2 img-zoom" alt="Cinque Terre"> 
  <h2 class="mat-display-3">Pedro Zulian</h2>
  <h4 class="mat-display-1">Desenvolvedor Full Stack</h4>
  <div class="social-networks">
    <!-- <a href="#">
      <i class="bi bi-file-person" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sobre mim"></i>
    </a> -->
    <a href="https://www.instagram.com/pedrozulian/" target="_blank">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/pedrozulian/" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://github.com/pedrozulian" target="_blank">
      <i class="bi bi-github"></i>
    </a>
  </div>
</div>
<div class="panel">
    <app-panel></app-panel>
</div>