<div class="col-12 row m-2">
    <h3 class="font-weight-bold">Meus commits</h3>
</div>
<div>
    <div class="mb-3" *ngFor="let commit of commits | paginate: { itemsPerPage: 15, currentPage: p }">
        <mat-accordion class="accordion" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p class="font-weight-bold">{{ getNameRepo(commit.url) }}</p> <p class="ml-1" color="primary">{{ commit.message }}</p>
                    </mat-panel-title>
                        
                </mat-expansion-panel-header>
                <span><a mat-button color="primary" [href]="urlCommit" ng-href="{{formatLinkCommit(commit.url, commit.sha)}}" target="_blank">Detalhes</a></span>
                <span><a mat-button color="primary" href="{{formatLinkRepo(commit.url)}}" target="_blank">Repositório</a></span>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <pagination-controls
    class="text-center my-pagination"
    (pageChange)="p = $event"
    previousLabel="Anterior"
    nextLabel="Próximo">
    </pagination-controls>
</div>