<div>
    <div class="form-group form-inline">
        Aqui é possível visualizar de forma um pouco mais prática, todos os meus repositórios e meus últimos commits
        em meus projetos open source.<br>
        Portanto, basta selecionar o que deseja ver e fique à vontade para ver detalhes, dar sugestões ou ideias, clonar e contribuir.
        <mat-radio-group>
          <mat-radio-button
          class="ml-2"
          *ngFor="let component of componentOptions;"
          (click)="chooseComponent(component.id)"
          [checked]="component.checked"
          value="{{component.id}}">
            {{ component.name }}
          </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<hr>
