<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mat-headline pt-2">Commits e principais repositórios</h1>
                <app-activities-menu
                (idComponentSelected)="showComponent($event)"></app-activities-menu>
            </div>
            <div class="col-12">
                <app-activities-commits *ngIf="commitsComponent"></app-activities-commits>
                <app-activities-repositories *ngIf="repositoriesComponent"></app-activities-repositories>
            </div>
        </div>
    </div>
</div>