<div class="container col-12">
    <div class="activities-group row">
        <div class="activities-item col-4 d-flex justify-content-center">
        </div>

        <div class="activities-item col-4 d-flex justify-content-center">
            <div class="text-center" style="width: 80%;">
                <a href="#">
                    <img class="mt-2 mb-3" src="../../../../../assets/undraw/undraw_developer_activity.svg" alt="Developer Activity">
                </a>
                <h3>Veja minhas atividades</h3>
                <p>Todos os meus estudos e projetos pessoais estão disponíveis em meu repositório no Github.
                    Aqui, você poderá visualizar os meus últimos commits, linha por linha.
                </p>
            </div>
        </div>

        <div class="activities-item col-4 d-flex justify-content-center">
        </div>
    </div>
</div>